
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>Index</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" media="all">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css" type="text/css" media="all">
    <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/css/lightbox.css" type="text/css" media="all">
    <link href="~/css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/style2.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- //css files -->
    <!-- web fonts -->
    <link href="http://fonts.googleapis.com/css?family=Arizonia&amp;subset=latin-ext" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <!-- //web fonts -->
</head>
<body>
    <div class="w3l-main" id="home">
        <!--navigation-->
        <div class="header-w3">
            <div class="header-top-agile">
                <div class="social-icons-agileits">
                    <ul>
                        <li>
                            <div class="logo-agileinfo">
                                <h1><a href="index.html">LOVE</a></h1>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="social">
                    <ul>

                        <li>
                            <a href="#" target="_parent"><input id="Button1" type="button" value="登录" onclick="window.location.href='/Login/Index'" style="background-color:black;border-radius:5px;" /></a>
                        </li>
                        <li><a href="#" target="_parent"> <input id="Button1" type="button" value="注册" onclick="window.location.href='/Login/Index'" style="background-color:black;border-radius:5px;" /></li>
                        <li><a href="#" class="link google-plus" target="_parent"><span class="fa fa-google-plus-square"></span></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header-bottom-agile">
                <div class=" navigation">
                    <nav class="navbar navbar-default cl-effect-16" id="cl-effect-16">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div id="navbar" class="navbar-collapse navbar-right collapse hover-effect">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="index.html" data-hover="主">主</a></li>
                                <li><a href="#about" data-hover="关于我们" class="scroll">关于我们</a></li>
                                <li><a href="#events" data-hover="爱情故事" class="scroll">爱情故事</a></li>
                                <li><a href="#gallery" data-hover="他们的爱情" class="scroll">他们的爱情</a></li>
                                <li><a href="#team" data-hover="创建者" class="scroll">创建者</a></li>
                                @*<li><a href="#contact" data-hover="Contact Us" class="scroll">联系我们</a></li>*@
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="w3ls_search">
                    <div class="cd-main-header">
                        <ul class="cd-header-buttons">
                            <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                        </ul>
                        <!-- cd-header-buttons -->
                    </div>
                    <div id="cd-search" class="cd-search">
                        <form action="#" method="post">
                            <input name="Search" type="search" placeholder="搜索..." required="">
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--//navigation-->
        <!--banner-->
        <div class="banner">
            <div data-vide-bg="video/marriage">
                <div class="center-container">
                    <div class="banner-text">
                        <div id="top" class="callbacks_container">
                            <ul class="rslides" id="slider3">
                                <li>
                                    <div class="banner-text-info">
                                        <h3 class="bnr-title">来吧!</h3>
                                        <p> 用最特别的方式表达你的爱</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-text-info">
                                        <h3 class="bnr-title">帮你脱单</h3>
                                        <p>相遇即是缘分</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="banner-text-info">
                                        <h3 class="bnr-title">优质资源</h3>
                                        <p>网络一线牵，珍惜这段缘！ </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="we-po-head">
                <img src="~/images/m1.png" alt=" ">
            </div>
        </div>
        <!--//banner-->
    </div>
    <!-- about -->
    <div class="about_section" id="about">
        <div class="container">
            <h2 class="wthree_title_agile"><span>关</span>于 <span>我</span>们</h2>
            <div class="inner_w3l_agile_grids">
                <!-- Bottom to top-->
                <div class="col-md-5 team-grid">
                    <!-- normal -->
                    <div class="ih-item circle effect10 bottom_to_top">
                        <div class="img"><img src="~/images/n2n.jpg" alt="img" /></div>
                    </div>
                    <!-- end normal -->
                    <p>找你心仪的人❤</p>
                    <div class="icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 team-grid">
                    <!-- normal -->
                    <div class="info">
                        <h3>配对</h3>
                        <div class="arrow-container animated fadeInDown">
                            <a href="#home" class="arrow-2 scroll">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            </a>
                            <div class="arrow-1 animated hinge infinite zoomIn"></div>
                        </div>
                        <h4>❤</h4>
                    </div>
                </div>
                <div class="col-md-5 team-grid">
                    <!-- normal -->
                    <div class="ih-item circle effect10 bottom_to_top">
                        <div class="img"><img src="~/images/b1.jpg" alt="img" /></div>
                    </div>
                    <!-- end normal -->
                    <p>根据你的标准匹配你对的人</p>
                    <div class="icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="banner-bottom">
            <!--//screen-gallery-->
            <div class="inner_w3l_agile_grids">
                <div class="sreen-gallery-cursual">
                    <div id="owl-demo" class="owl-carousel">
                        <div class="item-owl">
                            <div class="test-review">
                                <img src="~/images/s2.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item-owl">
                            <div class="test-review">
                                <img src="~/images/s1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item-owl">
                            <div class="test-review">
                                <img src="~/images/s3.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item-owl">
                            <div class="test-review">
                                <img src="~/images/s7.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item-owl">
                            <div class="test-review">
                                <img src="~/images/s5.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item-owl">
                            <div class="test-review">
                                <img src="~/images/s8.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item-owl">
                            <div class="test-review">
                                <img src="~/images/s6.jpg" alt="" />
                            </div>
                        </div>
                        <div class="item-owl">
                            <div class="test-review">
                                <img src="~/images/s4.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//screen-gallery-->
        </div>
        <!-- //story -->
        <div class="w3l-poi">
            <img src="~/images/a3.png" alt=" ">
        </div>
    </div>
    <!-- //about -->
    <!-- who we are -->
    <div class="sect-main-con">
        <h3 class="wthree_title_agile"><span>公</span><span>司</span><span>介</span>绍</h3>
        <div class="w3l-mo">
            <div class="col-md-5 service-1">
                <h4>关于公司</h4>
                <h6>LOVE</h6>
                <p>
                    专为谈婚论嫁的男男女女搭建的社交平台，方便了未婚人士谈情说爱。有大量的适龄的青年甚至大龄人士足不出户就可以向自己喜欢的人生发出爱情邀请，
                    借助我们的网站平台谈情说爱直至谈婚论嫁。
                </p>
                <img src="~/images/well.jpg" alt=" ">
                <h5><a href="#" class="view rew3" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>了解更多</a></h5>
            </div>
            <div class="col-md-2 service-2">
                <h4>提供</h4>
                <a href="#">稳定的平台</a>
                <a href="#">优质的资源</a>
                <a href="#">真实的信息</a>
                <a href="#">专业的顾问</a>
                <a href="#">贴心的服务</a>
                <a href="#">甜甜的爱情</a>
                <a href="#">信息的反馈及时</a>
            </div>
            <!-- Services -->
            <div class="col-md-5 service" id="services">
                <h4>服务</h4>
                <div class="serve-grids-top">
                    <div class="service-box wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".3s">
                        <div class="hi-icon-effect-6">
                            <a href="#set-6" class="hi-icon fa fa-briefcase"></a>
                        </div>
                        <div class="hi-text">
                            <h5>婚礼策划</h5>
                            <p>在我们网站牵手成功后，提供50多种策划方案，尽情选择</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service-box wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".3s">
                        <div class=" hi-icon-effect-6">
                            <a href="#set-6" class="hi-icon fa fa-map"></a>
                        </div>
                        <div class="hi-text">
                            <h5>婚礼场地</h5>
                            <p>在我们网站牵手成功后，我们会提供10多个场地喜欢那个选哪个</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class=" hi-icon-effect-6">
                            <a href="#set-6" class="hi-icon fa fa-glass"></a>
                        </div>
                        <div class="hi-text">
                            <h5>庆祝活动</h5>
                            <p>在我们网站牵手成功后，我们会为两位开庆祝活动.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service-box wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class=" hi-icon-effect-6">
                            <a href="#set-6" class="hi-icon fa fa-music"></a>
                        </div>
                        <div class="hi-text">
                            <h5>婚礼音乐</h5>
                            <p>在我们网站牵手成功后，我们会提供500多首婚礼音乐选择.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <!-- //Services -->
            <!-- Modal5 -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>LOVE</h4>
                            <img src="~/images/n1.jpg" alt="blog-image" />
                            <span>服务于全国单身人士，在这里给你提供超棒的资源，真实的信息，给予一场开心的甜甜的恋爱❤</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Modal5 -->
        </div>
    </div>
    <!-- //爱情故事 -->
    <div class="tlinks">Collect from </div>
    <!-- news -->
    <div class="news" id="events">
        <div class="container">
            <h3 class="wthree_title_agile"><span>爱</span>情 <span>故</span>事</h3>
            <div class="wthree-news-grids">
                <div class="col-md-4 agile-news-left">
                    <img src="images/n1.jpg" alt="">
                    <div class="agile-news-right">
                        <div class="date-grid">
                            <div class="time">
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> June 12,2019</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-agile-news-info">
                            <a href="#" data-toggle="modal" data-target="#myModal1">成功的婚姻需要多次坠入爱河，并且总是于同一个人相恋</a>
                            <p>
                                他和她去奶茶店买饮料。他："一杯红豆奶茶，去冰。"她："一杯柠檬蜜，多放些冰。"他补充道："红豆奶茶的糖度是7分的。"她接着说："柠檬蜜不要很甜。"
                                点完后两人相视一笑，她从服务员手中接过那杯红豆奶茶，他接过那杯柠檬蜜......
                            </p>
                        </div>
                        <div class="w3l-button">
                            <a href="#" data-toggle="modal" data-target="#myModal1">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 agile-news-left">
                    <div class="agile-news-right w3l-newsw">
                        <div class="date-grid">
                            <div class="time">
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> June 13,2019</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-agile-news-info">
                            <a href="#" data-toggle="modal" data-target="#myModal2">清华录取通知书</a>
                            <p>
                                他很爱她，她也一样。只是她品学兼优，是清华的保送生，而他从不学习。高二结束，她向他要一件礼物，
                                做为毕业分手时的纪念。他愣了好一会，最后说要给她写一封情书，不过要用一年的时间。
                                一年后，离别的车站，她拿到了他递她的信封，但信封里面并没有情书，而是他的清华录取通知书.......
                            </p>
                        </div>
                        <div class="w3l-button">
                            <a href="#" data-toggle="modal" data-target="#myModal2">后续</a>
                        </div>
                    </div>
                    <img src="images/n2.jpg" alt="">
                </div>
                <div class="col-md-4 agile-news-left">
                    <img src="images/n3.jpg" alt="">
                    <div class="agile-news-right">
                        <div class="date-grid">
                            <div class="time">
                                <p><i class="fa fa-calendar" aria-hidden="true"></i> July 14,2019</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="w3-agile-news-info">
                            <a href="#" data-toggle="modal" data-target="#myModal3">喜欢一个人的感觉</a>
                            <p>
                                很喜欢一个人是怎样的感觉呢？小兔子很想知道。松鼠太太剥开一颗松子，把果仁塞进嘴里说：“每一次我感觉自己有一点点喜欢他，我就往自己的嘴里塞一个果仁。”
                                “很喜欢一个人，大概就是腮帮子鼓鼓的，都装着自己最爱吃的果仁的那种感觉吧。”她含糊不清的说。松鼠先生听到她的话从树洞里探出头来，笑了笑：“你又在跟小兔子讲你是怎么变胖的啦？”
                            </p>
                        </div>
                        <div class="w3l-button">
                            <a href="#" data-toggle="modal" data-target="#myModal3">后续</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- Modal1 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>爱</h4>
                    <img src="~/images/n1.jpg" alt="blog-image" />
                    <span>（原来，爱就是把对方的习惯，当作自己的要求。） .</span>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>清华录取通知书</h4>
                    <img src="~/images/n3.jpg" alt="blog-image" />
                    <span>他们通过我们网站相遇了，她拿着那张他给的清华录取通知书在今年他们结婚了。</span>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal2 -->
    <!-- Modal3 -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>喜欢一个人的感觉</h4>
                    <img src="~/images/n2.jpg" alt="blog-image" />
                    <span>
                        斑马菲菲被派到一个很远的地方一段时间，她给犀牛厚厚发信息抱怨：“好无聊，我要疯了，我想跳崖。”
                        犀牛厚厚回：“我也疯了，我觉得自己现在是一棵长在悬崖边的树。” “为什么？” “因为我想挂住你啊。”
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal3 -->
    <!-- news -->
    <!-- 我们的故事 -->
    <div id="gallery" class="gallery">
        <div class="container">
            <h3 class="wthree_title_agile"><span>我</span>们 <span>的</span>爱情</h3>
            <div class="gallery-w3lsrow">
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/images/g1.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="~/images/g1.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>相信</h5>
                                <span class="fa fa-heart"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/images/g2.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="~/images/g2.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>忠诚</h5>
                                <span class="fa fa-heart"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/images/g4.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="~/images/g4.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>善良</h5>
                                <span class="fa fa-heart"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/images/g3.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="~/images/g3.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>沟通</h5>
                                <span class="fa fa-heart"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/images/g5.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="~/images/g5.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>缘分</h5>
                                <span class="fa fa-heart"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/images/g6.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="~/images/g6.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>爱恋</h5>
                                <span class="fa fa-heart"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/images/g7.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="~/images/g7.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>真诚</h5>
                                <span class="fa fa-heart"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-4 gallery-grids">
                    <div class="w3ls-hover">
                        <a href="~/images/g8.jpg" data-lightbox="example-set" data-title="Lorem Ipsum is simply dummy the when an unknown galley of type and scrambled it to make a type specimen.">
                            <img src="~/images/g8.jpg" class="img-responsive zoom-img" alt="" />
                            <div class="view-caption">
                                <h5>邂逅</h5>
                                <span class="fa fa-heart"></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //gallery -->
    <!-- 创建者 -->
    <div class="team" id="team">
        <div class="container">
            <h3 class="wthree_title_agile"><span>创</span>建 <span>者</span></h3>
            <div class="agile_team_grids">
                <div class="col-md-2 agile_team_grid team-left-w3l-agile">
                    <div class="agile_team_grid_main">
                        <img src="~/images/b10.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>

                                <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>

                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>李彬辉</h3>
                        <p>执行总监</p>
                    </div>
                </div>
                <div class="col-md-2 agile_team_grid team-left-w3l-agile">
                    <div class="agile_team_grid_main">
                        <img src="~/images/b11.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>

                                <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>

                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>谷相博</h3>
                        <p>告白策划</p>
                    </div>
                </div>
                <div class="col-md-2 agile_team_grid team-left-w3l-agile">
                    <div class="agile_team_grid_main">
                        <img src="~/images/n3n.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>

                                <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>

                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>代梦丽</h3>
                        <p>游玩推荐</p>
                    </div>
                </div>
                <div class="col-md-2 agile_team_grid team-left-w3l-agile">
                    <div class="agile_team_grid_main">
                        <img src="~/images/n1n.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>

                                <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>

                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>王莹莹</h3>
                        <p>爱情顾问</p>
                    </div>
                </div>
                <div class="col-md-2 agile_team_grid team-left-w3l-agile">
                    <div class="agile_team_grid_main">
                        <img src="~/images/b12.jpg" alt=" " class="img-responsive" />
                        <div class="p-mask">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>

                                <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>

                            </ul>
                        </div>
                    </div>
                    <div class="agile_team_grid1">
                        <h3>白亚军</h3>
                        <p>爱情顾问</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!--/counter-->
    <div class="agileinfo_counter_section">
        <div class="container">
            <h3>LOVE</h3>
            <p class="sub_para two">加入我们，帮你脱单</p>
            <h5><a href="#contact" class="view rew3 scroll"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>登录</a></h5>
        </div>
    </div>

    <!-- //contact -->
    <!-- footer -->
    <div class="footer-w3layouts">
        <div class="container">
            <div class="agile-logo">
                <a href="index.html">LOVE</a>
            </div>
            <div class="agile-copy">
                <p>河南 &copy;LOVE有限公司 </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="thim-click-to-bottom">
            <a href="#home" class="scroll">
                <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- //footer -->
    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!--  light box js -->
    <script src="~/js/lightbox-plus-jquery.min.js">
    </script>
    <!-- //light box js-->
    <!-- video-js -->
    <script src="~/js/jquery.vide.min.js"></script>
    <!-- //video-js -->
    <!-- Baneer-js -->
    <!--responsive slider-->
    <script src="~/js/responsiveslides.min.js"></script>
    <!--//responsive slider-->
    <!--banner Slider starts Here-->
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: false,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--//End-slider-script-->
    <!-- //Baneer-js -->
    <!-- search-jQuery -->
    <script src="~/js/main.js"></script>
    <!-- //search-jQuery -->
    <!-- required-js-files-->
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <script src="~/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                itemsDesktop: [768, 4],
                itemsDesktopSmall: [414, 3],
                lazyLoad: true,
                autoPlay: true,
                navigation: true,

                navigationText: false,
                pagination: true,

            });

        });
    </script>
    <!--//required-js-files-->
    <!-- script for responsive tabs -->
    <script src="js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth scrolling -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- //smooth scrolling -->

</body>
</html>
